

@font-face {
    font-family: ren_duo;
    src: url(font/ren_duo.ttf);
}

header {
    
    
}

h1 {
    font-family: "Trebuchet MS";
    text-align: center;
    color: white;
    background-color: black;
    margin-bottom: 10px;
}

#sous_titre {
    margin-top: -10px;
}

h2 {
    font-family: "Trebuchet MS";
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


p.description {
    font-family: "Trebuchet MS";
    text-align: justify;
    width: 600px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
}

svg {
    margin-left:auto;
    margin-right:auto;
    
}

body {
    font-family: "Trebuchet MS";
    text-align: center;
}

.area {
    fill: #Aa0000;
}

#selection {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 1000px;
}

div.choix {
    display: table-cell;
    width: 300px;
    padding: 5px;
    /*border-left: 1px solid grey;*/
    text-align: left;
}

div.choix h3 {
    margin-top: 0px;
    font-size: 25px;
    font-family: Baskerville;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
    padding: 0px;
}

.item.thematique, .item.public {
    display: block;
    width: 100px;
    height: 100px;
}

.items.format {

}
/*
div.items.public, div.items.thematique {
    -moz-column-count:4;
    -webkit-column-count:4;
    -o-column-count:4;
    column-count:4;
    -moz-column-gap:5px;
    -webkit-column-gap:5px;
    -o-column-gap:5px;
    column-gap:5px;
}
*/
div.items.public, div.items.thematique {
    -moz-column-count:6;
    -webkit-column-count:6;
    -o-column-count:6;
    column-count:6;
    -moz-column-gap:5px;
    -webkit-column-gap:5px;
    -o-column-gap:5px;
    column-gap:5px;
}

div.items.format {
    -moz-column-count:2;
    -webkit-column-count:2;
    -o-column-count:2;
    column-count:2;
    -moz-column-gap:3px;
    -webkit-column-gap:3px;
    -o-column-gap:3px;
    column-gap:3px;
}

p.item {
    
}

#selection a {
   text-decoration: none;
   font: arial narrow;
   color: grey;
}

img.item_image {
    
}

p.item_texte {
    margin-top: 10px;  
}

.item_texte.public {
    font-size: 0px;
}

.item_texte.thematique {
    font-size: 0px;
}

.item_texte.format {
    font-size: 15px;
    text-transform: uppercase;
}

div.off {
    opacity: 0.4;
}